<div class="col-sm-8 col-sm-offset-2">
<table id="grid-data" class="table table-condensed table-hover table-striped" data-ajax="true" data-url="/api/data/basic">
    <thead>
        <tr>
            <th data-column-id="title" >Title</th>
            <th data-column-id="id" data-type="numeric">ID</th>
            <th data-column-id="created">CREATED</th>
            <th data-column-id="owner" >OWNER</th>
            <th data-column-id="thumbnail_url" data-formatter="commands" data-sortable="false"></th>
        </tr>
    </thead>
</table>
</div>