<div class="col-sm-8 col-sm-offset-2">
<iframe id="vzvd-{{id}}" name="vzvd-{{id}}" title="video player" class="video-player" type="text/html" width="480" height="270" frameborder="0" allowfullscreen allowTransparency="true" mozallowfullscreen webkitAllowFullScreen src="https://view.vzaar.com/{{id}}/player"></iframe>
</div>